li {
    border: 1px solid black;
    border-radius: 0.5rem;
}

li.nav-item:hover {
    background-color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
}

li.nav-logging {
    background-color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
}

li.nav-logging:hover {
    background-color: black;
    border: 1px solid white;
    border-radius: 0.5rem;
}

li.nav-logging>a {
    color: black;
}

li.nav-logging>a:hover {
    color: white;
}

a.nav-link {
    color: white;
}